<button type="button" class="btn btn-primary mb-4" [routerLink]="['']">Back</button>

<div>
  <div class="spinner-border text-primary mb-4" role="status" *ngIf="transactionsService.loader | async">
    <span class="sr-only">Loading...</span>
  </div>
</div>


<ul class="nav nav-tabs">
  <li
    class="nav-item"
    *ngFor="let linkItem of (links | async); let i = index"
    (click)="changeTab(i)"
  >
    <p
      class="nav-link"
      [class.active]="i === (activeTabIndex | async)"
    >
      {{ linkItem.text }}
    </p>
  </li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of (data | async)">
      <th scope="row">{{ row[0] }}</th>
      <td>{{ row[1] }}</td>
    </tr>
  </tbody>
</table>
